In [4]:
from chembl_webresource_client.new_client import new_client
import pandas as pd

In [7]:
def get_smiles_from_chembl(chembl_id):
    try:
        molecule = new_client.molecule.filter(chembl_id=chembl_id).only("molecule_structures")
        if molecule:
            return molecule[0]['molecule_structures']['canonical_smiles']
        else:
            return None
    except Exception as e:
        print(f"Error for {chembl_id}: {e}")
        return None

In [8]:
df = pd.read_csv("tox_labels.csv")
df

,drug,withdrawn,withdrawn_cards,withdrawn_liver,withdrawn_neuro,ATC_cards,ATC_liver,ATC_neuro
0,chembl479,1,1,0,0,0,0,1
1,chembl12713,1,1,0,0,0,0,1
2,chembl583,1,1,0,0,0,0,0
3,chembl17157,1,1,0,0,0,0,0
4,chembl121,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...
1290,chembl3989403,1,0,0,0,0,0,0
1291,chembl3989556,1,0,0,0,0,0,0
1292,chembl3989676,1,0,0,0,0,0,0
1293,chembl3989803,1,0,0,0,0,0,1
1294,chembl4297088,1,0,0,0,0,0,0

In [12]:
chembl_df = df[df['drug'].str.startswith('chembl')]

In [20]:
chembl_df

,drug,withdrawn,withdrawn_cards,withdrawn_liver,withdrawn_neuro,ATC_cards,ATC_liver,ATC_neuro,smiles
0,chembl479,1,1,0,0,0,0,1,CSc1ccc2c(c1)N(CCC1CCCCN1C)c1ccccc1S2
1,chembl12713,1,1,0,0,0,0,1,O=C1NCCN1CCN1CCC(c2cn(-c3ccc(F)cc3)c3ccc(Cl)cc...
2,chembl583,1,1,0,0,0,0,0,Cc1c(F)c(N2CCNC(C)C2)cc2c1c(=O)c(C(=O)O)cn2C1CC1
3,chembl17157,1,1,0,0,0,0,0,CC(C)(C)c1ccc(C(O)CCCN2CCC(C(O)(c3ccccc3)c3ccc...
4,chembl121,1,1,0,0,0,0,0,CN(CCOc1ccc(CC2SC(=O)NC2=O)cc1)c1ccccn1
...,...,...,...,...,...,...,...,...,...
1290,chembl3989403,1,0,0,0,0,0,0,Cc1cc(CC(=O)[O-])n(C)c1C(=O)c1ccc(Cl)cc1.O.O.[...
1291,chembl3989556,1,0,0,0,0,0,0,CCN1CCC[C@H]1CNC(=O)c1c(OC)ccc(Br)c1OC.Cl.O
1292,chembl3989676,1,0,0,0,0,0,0,CCCCC1C(=O)N(c2ccccc2)N(c2ccc(O)cc2)C1=O.O
1293,chembl3989803,1,0,0,0,0,0,1,Cc1c(N(C)CS(=O)(=O)[O-])c(=O)n(-c2ccccc2)n1C.O...
1294,chembl4297088,1,0,0,0,0,0,0,N=C(NCCCCCCNC(=N)NC(=N)Nc1ccc(Cl)cc1)NC(=N)Nc1...

In [16]:
smiles_df = chembl_df['drug'].apply(get_smiles_from_chembl)

In [17]:
smiles_df

0                   CSc1ccc2c(c1)N(CCC1CCCCN1C)c1ccccc1S2
1       O=C1NCCN1CCN1CCC(c2cn(-c3ccc(F)cc3)c3ccc(Cl)cc...
2        Cc1c(F)c(N2CCNC(C)C2)cc2c1c(=O)c(C(=O)O)cn2C1CC1
3       CC(C)(C)c1ccc(C(O)CCCN2CCC(C(O)(c3ccccc3)c3ccc...
4                 CN(CCOc1ccc(CC2SC(=O)NC2=O)cc1)c1ccccn1
                              ...
1290    Cc1cc(CC(=O)[O-])n(C)c1C(=O)c1ccc(Cl)cc1.O.O.[...
1291          CCN1CCC[C@H]1CNC(=O)c1c(OC)ccc(Br)c1OC.Cl.O
1292           CCCCC1C(=O)N(c2ccccc2)N(c2ccc(O)cc2)C1=O.O
1293    Cc1c(N(C)CS(=O)(=O)[O-])c(=O)n(-c2ccccc2)n1C.O...
1294    N=C(NCCCCCCNC(=N)NC(=N)Nc1ccc(Cl)cc1)NC(=N)Nc1...
Name: drug, Length: 206, dtype: object

In [23]:
chembl_df.loc[:, 'smiles'] = smiles_df

In [24]:
chembl_df

,drug,withdrawn,withdrawn_cards,withdrawn_liver,withdrawn_neuro,ATC_cards,ATC_liver,ATC_neuro,smiles
0,chembl479,1,1,0,0,0,0,1,CSc1ccc2c(c1)N(CCC1CCCCN1C)c1ccccc1S2
1,chembl12713,1,1,0,0,0,0,1,O=C1NCCN1CCN1CCC(c2cn(-c3ccc(F)cc3)c3ccc(Cl)cc...
2,chembl583,1,1,0,0,0,0,0,Cc1c(F)c(N2CCNC(C)C2)cc2c1c(=O)c(C(=O)O)cn2C1CC1
3,chembl17157,1,1,0,0,0,0,0,CC(C)(C)c1ccc(C(O)CCCN2CCC(C(O)(c3ccccc3)c3ccc...
4,chembl121,1,1,0,0,0,0,0,CN(CCOc1ccc(CC2SC(=O)NC2=O)cc1)c1ccccn1
...,...,...,...,...,...,...,...,...,...
1290,chembl3989403,1,0,0,0,0,0,0,Cc1cc(CC(=O)[O-])n(C)c1C(=O)c1ccc(Cl)cc1.O.O.[...
1291,chembl3989556,1,0,0,0,0,0,0,CCN1CCC[C@H]1CNC(=O)c1c(OC)ccc(Br)c1OC.Cl.O
1292,chembl3989676,1,0,0,0,0,0,0,CCCCC1C(=O)N(c2ccccc2)N(c2ccc(O)cc2)C1=O.O
1293,chembl3989803,1,0,0,0,0,0,1,Cc1c(N(C)CS(=O)(=O)[O-])c(=O)n(-c2ccccc2)n1C.O...
1294,chembl4297088,1,0,0,0,0,0,0,N=C(NCCCCCCNC(=N)NC(=N)Nc1ccc(Cl)cc1)NC(=N)Nc1...

In [25]:
chembl_df.to_csv("tox_labels_chembl.csv")